body {
  width:80%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;}

  /*navigation links */
  #linkhebergement{
    border-top: 0.5px solid blue;
  }
.nav-link{
  font-size: 12px;
}
/*text under the logo */
.firsttext{
  margin-top: 20px;
}
#text1 {
  font-size: 13px;
 }
#text2 {
  opacity: 0.6;
  font-size: 13px;
 }
 .text3 {
  opacity: 0.6;
  font-size: 12px;
  margin-top: 15px;
 }

/*localosation icon */
svg {
  border-radius: 5px 0; }

  /*serch bar */
  .serchbar{
    border-radius: 0px 10px 10px 0px;
  }
  .lefttext{
    border-radius: 10px 0px 0px 10px;
  }
  #righttext{
    border-radius: 0px 10px 10px 0px;
  }

/*button group */
#linkfabtn{
  width: 90px;
  margin-left: 10px;
}
#iconfabtn{
  padding: 8px;
}
/*icon styling */
i {
  color: Dodgerblue; }


 .icon_filter{
  height:40px;
  width: 40px;
  display: flex;
  position: relative;
  margin-right: 1rem;
  background-color: #f2f2f2;
  border:solid 2px#DEEBFF;
  border-radius: 30px 30px 30px 30px;
  
 }

/*button styling */
.button_group{
  height:40px;
  width: 160px;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  border:solid 2px #F2F2F2;
  border-radius: 30px 30px 30px 30px;
}
.lastbutton{
  width: 190px;
}
.fas:before {
  padding: 11px 0 0 7px;}
  #icon_fami{
    padding-left: 7px;
  }
  .fa-info-circle{
    height:10px;
  width: 10px;
  align-items: center;
  padding: 6px;
  }
/* first left image containers 6imgs*/

.container1 {
  background-color: #F2F2F2;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 40px;
  flex-wrap: nowrap;
  flex-direction:column;
  justify-content: center;
 }
 /*
 .container div{
  width: 170px;
  margin: 10px;
  text-align: center;
 }
 */
 .text4{
   font-size: 12px;
   font-weight: bold;
   margin-left: 20px;
   padding-top: 20px;
 }
 .text5{
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
 
}

 #firstLine{
  display: flex;
  flex-wrap: wrap;
  width:90%;
  margin: 0 auto;
  justify-content:space-around;
 margin-left: 20px;
 margin-bottom: 5px;
}
#secondLine{
  display: flex;
  flex-wrap: wrap;
  width:90%;
  margin: 0 auto;
  
  justify-content:space-around;
  margin-left: 20px;
}


@media(min-width:768px) and (max-width:992px) {
  
  #firstLine {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
   
    justify-content: space-evenly;
    
  }

  #secondLine {    
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .container2{
    display:flex;
    width:85%;
    margin:0 auto;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
  }
  .container_leftactivity {
    flex-wrap: nowrap;
  }
  .container_RightActivity{
    flex-wrap: nowrap;
  }
  .card {
    border-radius: 10px;
    width: 6rem;
    box-shadow: 2px 4px 2px #dfdbdb;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
   
     }
}

img {
  height: 8rem;
  padding: 5px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px; }

.card {
  border-radius: 10px;
  width: 10rem;
  box-shadow: 2px 4px 2px #dfdbdb;
  
 
   }
   .card-text {
    font-size: 11px;
    margin-left: 5px;
   }
  

/*icon color */
.color {
  color: Dodgerblue; }


/* second right image containers plus populaires 3imgs*/
.fa-chart-line{
  margin-left:70px;
}
.container2 {
  background-color: #F2F2F2;
margin-right: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 40px; 

}
.imglot1{
  font-size: 12px;
  
  margin-left: 10px;
  padding-top: 20px;
  
}
@media(max-width:767px) {
  .threeimgcard{
    margin-left: 90px;
  }
  .container1{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container2{
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  }
  .activityimg{
    margin-left: 87px;

  }
  .card {
    border-radius: 10px;
    width: 12rem;
    box-shadow: 2px 4px 2px #dfdbdb;
    }
 .last_hebergementimg{
   margin-left: 45px;
 }
}
.rightimg{
  position: absolute;padding: 5px;   max-width: 50%;
}
.threeimgcard{
  width: 14rem;height:8rem; margin-left: 2px;margin-top: 10px;;
}
.rightimgtext{
  font-size: 11px;text-align: right;
}


 
  /* activity section */
h6 {
  font-size: 11px;
  font-weight: bold;
  text-align: left; }
.text6{
  font-size: 11px;
  font-weight: bold;
}
#activites{
  margin-left: 10px;
}
.short-div{
  width: 14rem;
  box-shadow:2px 4px 2px #dfdbdb
}

.activityimg{
  height:90%;object-fit: cover;width: 14rem;box-shadow:2px 4px 2px #dfdbdb
}
#activityimg2{
  padding:0px;margin-left: 100px;
}
.container_RightActivity{
  margin-left: 30px;
}
.right-box {
  position: relative;
  padding-top: 30px; }

.card-img-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-radius: 10px !important; }





/*footer section */
.container-footer {
  margin-top: 30px;
  background-color: #F2F2F2; }

.text_link {
  font-size: 13px;
  font-weight: bold; }

.list-unstyled {
  font-size: 13px; }

.link_box {
  margin-top: 20px;
  margin-left: 30px;
  text-align: left; }

/*footer */
.container-footer{
  text-decoration-color: black;
}

/*# sourceMappingURL=style.css.map */


